name: build mobile app

on:
  pull_request:
    types: [opened, ready_for_review]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 21
          cache: "pnpm"

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Cache Node Modules
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm install

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build Android app
        run: cd apps/expo && pnpm apk

      - name: Upload movie-web.apk as artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: ./apps/expo/android/app/build/movie-web.apk

  build-ios:
    runs-on: macos-14

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 21
          cache: "pnpm"

      - name: Cache Node Modules
        uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm install

      - name: Cache Pods
        uses: actions/cache@v4
        with:
          path: apps/expo/ios
          key: ${{ runner.os }}-pods-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Build iOS app
        run: cd apps/expo && pnpm ipa

      - name: Upload movie-web.ipa as artifact
        uses: actions/upload-artifact@v4
        with:
          name: ipa
          path: ./apps/expo/ios/build/movie-web.ipa
